@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Esse projeto está no repositório: <a href="https://github.com/BrunoHCS/projetoMVC">ProjetoMVC</a>.</p>
</div>
